# Игнорируем виртуальное окружение Python
venv
.venv
ENV

# Игнорируем кэш Python
__pycache__
.pyc
# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
